<div class="register-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" formControlName="fullname" class="form-control" />
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" class="form-control" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control" />
    </div>
  </form>
</div>
