<h1>Bienvenido al curso de {{ course }}</h1>

//caja de texto
<input
  type="text"
  [(ngModel)]="cardData.title"
  (input)="onTitleChange($event)"
/>

<img [src]="cardData.imageUrl" alt="Placeholder Image" />

//metodo
<div>
  <h2>{{ cardData.title }}</h2>
  <button (click)="changeTitle()">Cambiar título</button>
</div>

<input
  type="text"
  [(ngModel)]="cardData.description"
  (input)="onDescriptionChange($event)"
/>

<div>
  <h2>{{ cardData.description }}</h2>
  <button (click)="changeDescription()">Cambiar descripcion</button>
</div>
