.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    /* Agregamos un margen inferior para separar el footer */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    /* Aseguramos que la fila ocupe todo el ancho */
}

app-card {
    flex: 0 0 calc(30% - 20px);
    /* Ancho del card con margen */
    margin-bottom: 20px;
}

app-card:last-child {
    margin-right: 0;
    /* Eliminamos el margen derecho del último card */
}

app-calculator {
    flex: 0 0 calc(30% - 20px);
    /* Ancho del calculator con margen */
    margin-bottom: 20px;
}

app-calculator:last-child {
    margin-right: 0;
    /* Eliminamos el margen derecho del último calculator */
}

p {
    width: 100%;
    /* Aseguramos que el párrafo ocupe todo el ancho */
    text-align: center;
    /* Centramos el texto */
    font-size: 16px;
    /* Tamaño de fuente */
    margin-bottom: 10px;
    /* Espacio inferior */
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}